# Build outputs
dist/
out/

# Dependencies
node_modules/

# Test artifacts
src/test/e2e/test-results/
src/test/e2e/playwright-report/
src/test/e2e/screenshots/
*.jpg
*.jpeg

# VS Code
.vscode/settings.json

# Logs
*.log

# OS
.DS_Store
Thumbs.db 

# dev
.claude/
carbonara.db
