name: CLI Tests

on:
  push:
    branches: [main]
    paths:
      - "packages/cli/**"
  pull_request:
    branches: ["**"] # Will run pipeline for pull requests targeting any branch
    paths:
      - "packages/cli/**"

jobs:
  # Unit and MegaLinter tests
  ci-tests:
    name: Unit and MegaLinter Tests
    runs-on: ubuntu-latest
    timeout-minutes: 20
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Pull MegaLinter Docker image
        run: docker pull oxsecurity/megalinter:v8

      - name: Setup Node.js 22.x
        uses: actions/setup-node@v4
        with:
          node-version: "22.x"
          cache: "npm"

      - name: Install dependencies for Node 22.x
        working-directory: packages/cli
        run: npm ci

      - name: Build CLI for Node 22.x
        working-directory: packages/cli
        run: npm run build

      - name: Run tests (excluding MegaLinter) for Node 22.x
        working-directory: packages/cli
        run: npm run test:ci
        env:
          CI: true

      - name: Run MegaLinter tests for Node 22.x
        working-directory: packages/cli
        run: npm run test:megalinter
        env:
          CI: true

      - name: Setup Node.js 24.x
        uses: actions/setup-node@v4
        with:
          node-version: "24.x"
          cache: "npm"

      - name: Install dependencies for Node 24.x
        working-directory: packages/cli
        run: npm ci

      - name: Build CLI for Node 24.x
        working-directory: packages/cli
        run: npm run build

      - name: Run tests (excluding MegaLinter) for Node 24.x
        working-directory: packages/cli
        run: npm run test:ci
        env:
          CI: true

      - name: Run MegaLinter tests for Node 24.x
        working-directory: packages/cli
        run: npm run test:megalinter
        env:
          CI: true
